body{
  margin: 0;

}

.container{
  width: auto;

}

.header{
  background-image: url("../img/header/headerBg.png");
  height: 83px;
  width: auto;
  text-align: center;
}
.topBorder{
  padding-top: 72px;
  width: auto;
}
#menu{
  padding-top: 15px;
  padding-left: 700px;

}
#home{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(232, 232, 232);
    font-weight: bold;
    line-height: 1.75;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 420.937px;
    top: 31px;
    z-index: 258;


}
#topBorder{
  background-image: url("../img/header/topBorder.png");
  width: auto;
  height: 4px;
  padding-top: 2px;
}
nav ul li{
  float: left;
  padding-left: 20px;
}
nav ul{
  list-style: none;
  overflow: auto;
}

article, aside, footer, header, header, section{
  display: block;
}
article, footer, header, aside{
  background: rgba(255, 255, 255, 0.6);

}
html{
  display: block;
}
