body {
  margin: 0;

}

.container {
  width: auto;
  display: block;

}

.header {
  background-image: url("../img/header/headerBg.png");
  height: 83px;
  width: auto;
  margin-right: 0;
}


.logo {
  width: 15%;
  height: 60px;
  padding-left: 20px;
  padding-top: 15px;
  font-family: 'Alex Brush', cursive;
  color: rgb(232, 232, 232);
  font-size: 44px;
  float: left;
}

#menu {
  width: 65%;
  height: auto;
  padding-top: 15px;
  margin-left: 50px;
  float: left;


}


#home {
  float: left;
  width: 180px;
  height: 32px;

}

#oMnie {
  float: left;
  width: 105px;
  height: 30px;
}

#menuGaleria {
  float: left;
  width: 100px;
  height: 30px;
}

#kontakt {
  float: left;
  width: 110px;
  height: 30px;
}

#dzialanoscZawodowa {
  float: left;
  width: 275px;
  height: 30px;
}

#hobby {
  float: left;
  width: 95px;
  height: 30px;
}

#linki {
  float: left;
  width: 75px;
  height: 30px;
}

#zegar{
  font-size: 40px;
  color: rgb(232, 232, 232);
  padding-top: 20px;
}

#topBorder {
  background-image: url("../img/header/topBorder.png");
  width: auto;
  height: 8px;
  padding-top: 2px;
}

#bottomBorder {
  float: bottom;
  background-image: url("../img/header/topBorder.png");
  width: auto;
  padding-bottom: 10px;
}

#tresc {
  height: 750px;

}

.footer {
  background-image: url("../img/footer/footerBg.png");
  width: auto;
  height: 80px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(232, 232, 232);
  font-weight: bolder;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);

  width: auto;

}

#prawaZastrzezone {
  float: left;
  padding-top: 25px;
  padding-left: 170px;
  margin-left: 300px;

}

#txtFooter {
  float: right;
  padding-right: 20px;
  padding-top: 25px;


}


a {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(232, 232, 232);
  font-weight: bolder;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

nav ul li a {
  text-decoration: none;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(232, 232, 232);
  font-weight: bolder;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
}

nav ul li {
  font-size: 22px;
  padding-top: 4px;
  float: left;
  padding-left: 10px;

}

nav ul {
  list-style: none;
  overflow: auto;
}

article, aside, footer, header, header, section {
  display: block;
}

article, footer, header, aside {
  background: rgba(255, 255, 255, 0.6);

}
